/.ipynb_checkpoints/
/.idea/
/tests/.hypothesis/
/tests/.pytest_cache/
/.coverage
/.hypothesis
/.dockerignore
/dof/
/dof2/
/h5/
/For_testing_old_deepOF/
/tutorial_files/
/tutorial_files_old/
/tutorial_files_old_other/
/deepof/__pycache__/
/big_data/
/Short/
/TwoLargeVideos_h5/
/Bartek2/
/JJ/
/pkl/
/demo/
/jCSDS/
/Old/
/PolarPlots/
/SI/
/Very_Large/

