/.ipynb_checkpoints/
/.idea/
/tests/.hypothesis/
/tests/.pytest_cache/
/.coverage
/.hypothesis
/.dockerignore
/dof/
/h5/
/For_testing_old_deepOF/
/tutorial_files/
/tutorial_files_full/
/deepof/__pycache__/
/big_data/
/Short/
/tutorial_files_old/
/TwoLargeVideos_h5/
/Bartek2/
/JJ/
/sim/

