[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
av = "*"
coverage = "*"
cycler = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-table = "*"
dash = "*"
dask-image = "*"
dask = "*"
hypothesis = "*"
ipython = "*"
ipywidgets = "*"
joblib = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
jupyter = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
keras-tuner = "*"
keras = "*"
matplotlib-inline = "*"
matplotlib = "*"
nbconvert = "*"
networkx = "*"
notebook = "*"
numba = "*"
numpy = "*"
opencv-python = "*"
openpyxl = "*"
opt-einsum = "*"
pandas = "*"
pickleshare = "*"
pipenv = "*"
pipfile = "*"
plotly = "*"
protobuf = "==3.20.1"
pytest-cov = "*"
pytest-forked = "*"
pytest-xdist = "*"
pytest = "*"
regex = "*"
ruptures = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
snakemake = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-napoleon = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
statannotations = "*"
statsmodels = "==0.12.1"
tables = "*"
tensorboard-data-server = "*"
tensorboard-plugin-wit = "*"
tensorboard = "*"
tensorflow-addons = "*"
tensorflow-estimator = "*"
tensorflow-io-gcs-filesystem = "*"
tensorflow-probability = "*"
tensorflow = "*"
termcolor = "*"
tqdm = "*"
tsfresh = "*"
typeguard = "*"
typing-extensions = "*"
umap-learn = "*"
virtualenv-clone = "*"
virtualenv = "*"
widgetsnbextension = "*"
Keras-Preprocessing = "*"
PIMS = "*"
POT = "*"
Sphinx = "*"
Shapely = "*"
shap = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
