[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
matplotlib = "*"
networkx = "*"
numpy = "~=1.20"
opencv-python = "*"
pandas = "*"
plotly = "*"
regex = "*"
scikit-learn = "*"
seaborn = "*"
sklearn = "*"
tables = "*"
tensorflow-probability = "==0.14.1"
tensorflow = "~=2.8.0"
tqdm = "*"
umap-learn = "*"
pipfile = "*"
keras = "==2.6.*"
ruptures = "*"
openpyxl = "*"
snakemake = "*"
tensorflow-addons = "==0.14.0"
pytest-xdist = "*"
typeguard = "*"
pytest-cov = "*"
mkl = "*"
jupyter = "*"
sphinx = "*"
statannotations = "*"
statsmodels = "*"
setuptools = "*"
scipy = "*"
typing-extensions = "*"
keras-tuner = "*"
intel-openmp = "==2021.4.0"
tbb = "==2021.4.0"
pot = "*"
scikit-image = "*"
dask-image = "*"
av = "*"
dask = {extras = ["distributed"], version = "*"}

[dev-packages]
coverage = "*"
dash = "*"
pytest = "*"
hypothesis = "*"
sphinx = "*"
pipenv = "*"
install = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"

[requires]
python_version = "3.8"
