[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
plotly = "*"
regex = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
tables = "*"
tensorflow-probability = "*"
tensorflow-addons = "*"
tensorflow = "==2.6.0"
tqdm = "*"
umap-learn = "*"
pipfile = "*"

[dev-packages]
coverage = "*"
dash = "*"
hypothesis = "*"
keras-tuner = "*"
pytest = "*"

[requires]
python_version = "3.8"
