joblib
matplotlib
networkx
numpy
opencv-python
pandas
plotly
regex
scikit-learn
seaborn
sklearn
tables
tensorflow-probability
tensorflow
tqdm
umap-learn
pipfile
keras
ruptures
openpyxl
snakemake
tensorflow-addons
pytest-xdist
typeguard
pytest-cov
mkl
jupyter
sphinx
statannotations
statsmodels
setuptools
scipy
typing-extensions
