absl-py==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.9" and python_version < "3.11" and platform_system == "Darwin" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "darwin"
asttokens==2.0.8 ; python_version >= "3.9" and python_version < "3.11"
astunparse==1.6.3 ; python_version >= "3.9" and python_version < "3.11"
av==10.0.0 ; python_version >= "3.9" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.9" and python_version < "3.11"
blosc2==2.0.0 ; python_version >= "3.9" and python_version < "3.11"
cachetools==5.2.0 ; python_version >= "3.9" and python_version < "3.11"
catboost==1.1 ; python_version >= "3.9" and python_version < "3.11"
certifi==2022.9.24 ; python_version >= "3.9" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "3.11" and implementation_name == "pypy"
charset-normalizer==2.1.1 ; python_version >= "3.9" and python_version < "3.11"
cloudpickle==2.2.0 ; python_version >= "3.9" and python_version < "3.11"
colorama==0.4.5 ; python_version >= "3.9" and python_version < "3.11" and platform_system == "Windows" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32"
contourpy==1.0.5 ; python_version >= "3.9" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.9" and python_version < "3.11"
cython==0.29.33 ; python_version >= "3.9" and python_version < "3.11"
dask-image==2022.9.0 ; python_version >= "3.9" and python_version < "3.11"
dask[array]==2022.9.2 ; python_version >= "3.9" and python_version < "3.11"
debugpy==1.6.3 ; python_version >= "3.9" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.9" and python_version < "3.11"
dm-tree==0.1.7 ; python_version >= "3.9" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.9" and python_version < "3.11"
et-xmlfile==1.1.0 ; python_version >= "3.9" and python_version < "3.11"
executing==1.1.0 ; python_version >= "3.9" and python_version < "3.11"
flatbuffers==23.1.4 ; python_version >= "3.9" and python_version < "3.11"
fonttools==4.37.4 ; python_version >= "3.9" and python_version < "3.11"
fsspec==2022.8.2 ; python_version >= "3.9" and python_version < "3.11"
gast==0.4.0 ; python_version >= "3.9" and python_version < "3.11"
google-auth-oauthlib==0.4.6 ; python_version >= "3.9" and python_version < "3.11"
google-auth==2.12.0 ; python_version >= "3.9" and python_version < "3.11"
google-pasta==0.2.0 ; python_version >= "3.9" and python_version < "3.11"
graphviz==0.20.1 ; python_version >= "3.9" and python_version < "3.11"
grpcio==1.49.1 ; python_version >= "3.9" and python_version < "3.11"
h5py==3.7.0 ; python_version >= "3.9" and python_version < "3.11"
hmmlearn==0.2.8 ; python_version >= "3.9" and python_version < "3.11"
idna==3.4 ; python_version >= "3.9" and python_version < "3.11"
imageio-ffmpeg==0.4.7 ; python_version >= "3.9" and python_version < "3.11"
imageio==2.22.1 ; python_version >= "3.9" and python_version < "3.11"
imbalanced-learn==0.9.1 ; python_version >= "3.9" and python_version < "3.11"
imblearn==0.0 ; python_version >= "3.9" and python_version < "3.11"
importlib-metadata==5.0.0 ; python_version >= "3.9" and python_version < "3.10"
ipykernel==6.16.0 ; python_version >= "3.9" and python_version < "3.11"
ipython==8.5.0 ; python_version >= "3.9" and python_version < "3.11"
ipywidgets==8.0.2 ; python_version >= "3.9" and python_version < "3.11"
jedi==0.18.1 ; python_version >= "3.9" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
jupyter-client==7.3.5 ; python_version >= "3.9" and python_version < "3.11"
jupyter-core==4.11.1 ; python_version >= "3.9" and python_version < "3.11"
jupyterlab-widgets==3.0.3 ; python_version >= "3.9" and python_version < "3.11"
kaleido==0.2.1 ; python_version >= "3.9" and python_version < "3.11"
keras-tcn-macos==1.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "darwin"
keras-tcn==3.5.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "win64"
keras-tuner==1.1.3 ; python_version >= "3.9" and python_version < "3.11"
keras==2.11.0 ; python_version >= "3.9" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_version < "3.11"
kt-legacy==1.0.4 ; python_version >= "3.9" and python_version < "3.11"
libclang==14.0.6 ; python_version >= "3.9" and python_version < "3.11"
llvmlite==0.39.1 ; python_version >= "3.9" and python_version < "3.11"
locket==1.0.0 ; python_version >= "3.9" and python_version < "3.11"
lxml==4.9.1 ; python_version >= "3.9" and python_version < "3.11"
markdown==3.4.1 ; python_version >= "3.9" and python_version < "3.11"
markupsafe==2.1.1 ; python_version >= "3.9" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.9" and python_version < "3.11"
matplotlib==3.6.0 ; python_version >= "3.9" and python_version < "3.11"
msgpack==1.0.4 ; python_version >= "3.9" and python_version < "3.11"
nbsphinx==0.8.7 ; python_version >= "3.9" and python_version < "3.11"
nest-asyncio==1.5.6 ; python_version >= "3.9" and python_version < "3.11"
networkx==2.8.7 ; python_version >= "3.9" and python_version < "3.11"
numba==0.56.2 ; python_version >= "3.9" and python_version < "3.11"
numexpr==2.8.4 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.23.3 ; python_version < "3.11" and python_version >= "3.9"
oauthlib==3.2.1 ; python_version >= "3.9" and python_version < "3.11"
opencv-python==4.6.0.66 ; python_version >= "3.9" and python_version < "3.11"
openpyxl==3.0.10 ; python_version >= "3.9" and python_version < "3.11"
opt-einsum==3.3.0 ; python_version >= "3.9" and python_version < "3.11"
packaging==21.3 ; python_version >= "3.9" and python_version < "3.11"
pandas==1.5.0 ; python_version >= "3.9" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.9" and python_version < "3.11"
partd==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
patsy==0.5.3 ; python_version >= "3.9" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.9" and python_version < "3.11"
pillow==9.2.0 ; python_version >= "3.9" and python_version < "3.11"
pims==0.6.1 ; python_version >= "3.9" and python_version < "3.11"
plotly==5.10.0 ; python_version >= "3.9" and python_version < "3.11"
pot==0.8.2 ; python_version >= "3.9" and python_version < "3.11"
prompt-toolkit==3.0.31 ; python_version >= "3.9" and python_version < "3.11"
protobuf==3.19.6 ; python_version >= "3.9" and python_version < "3.11"
psutil==5.9.2 ; python_version >= "3.9" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.9" and python_version < "3.11"
py-cpuinfo==9.0.0 ; python_version >= "3.9" and python_version < "3.11"
py==1.11.0 ; python_version >= "3.9" and python_version < "3.11" and implementation_name == "pypy"
pyasn1-modules==0.2.8 ; python_version >= "3.9" and python_version < "3.11"
pyasn1==0.4.8 ; python_version >= "3.9" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.11" and implementation_name == "pypy"
pygments==2.13.0 ; python_version >= "3.9" and python_version < "3.11"
pynndescent==0.5.7 ; python_version >= "3.9" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.11"
pytz==2022.4 ; python_version >= "3.9" and python_version < "3.11"
pywin32==304 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "3.11"
pyzmq==24.0.1 ; python_version >= "3.9" and python_version < "3.11"
regex==2022.9.13 ; python_version >= "3.9" and python_version < "3.11"
requests-oauthlib==1.3.1 ; python_version >= "3.9" and python_version < "3.11"
requests==2.28.1 ; python_version >= "3.9" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.9" and python_version < "3.11"
ruptures==1.1.7 ; python_version >= "3.9" and python_version < "3.11"
scikit-learn==1.1.2 ; python_version >= "3.9" and python_version < "3.11"
scipy==1.9.1 ; python_version >= "3.9" and python_version < "3.11"
seaborn==0.11.2 ; python_version >= "3.9" and python_version < "3.11"
seglearn==1.2.5 ; python_version >= "3.9" and python_version < "3.11"
setuptools-scm==7.0.5 ; python_version >= "3.9" and python_version < "3.11"
setuptools==59.8.0 ; python_version >= "3.9" and python_version < "3.11"
shap==0.41.0 ; python_version >= "3.9" and python_version < "3.11"
shapely==1.8.4 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
slicer==0.0.7 ; python_version >= "3.9" and python_version < "3.11"
slicerator==1.1.0 ; python_version >= "3.9" and python_version < "3.11"
spektral @ git+https://github.com/lucasmiranda42/spektral@master ; python_version >= "3.9" and python_version < "3.11"
stack-data==0.5.1 ; python_version >= "3.9" and python_version < "3.11"
statannotations==0.5.0 ; python_version >= "3.9" and python_version < "3.11"
statsmodels==0.13.2 ; python_version >= "3.9" and python_version < "3.11"
tables==3.8.0 ; python_version >= "3.9" and python_version < "3.11"
tenacity==8.1.0 ; python_version >= "3.9" and python_version < "3.11"
tensorboard-data-server==0.6.1 ; python_version >= "3.9" and python_version < "3.11"
tensorboard-plugin-wit==1.8.1 ; python_version >= "3.9" and python_version < "3.11"
tensorboard==2.11.2 ; python_version >= "3.9" and python_version < "3.11"
tensorflow-addons==0.18.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "darwin" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "win64"
tensorflow-estimator==2.11.0 ; python_version >= "3.9" and python_version < "3.11"
tensorflow-io-gcs-filesystem==0.27.0 ; python_version >= "3.9" and python_version < "3.11" and platform_machine != "arm64" or python_version >= "3.9" and python_version < "3.11" and platform_system != "Darwin"
tensorflow-macos==2.11.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "darwin"
tensorflow-probability==0.17.0 ; python_version >= "3.9" and python_version < "3.11"
tensorflow==2.11.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "win64"
termcolor==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.9" and python_version < "3.11"
tifffile==2022.8.12 ; python_version >= "3.9" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.9" and python_version < "3.11"
tornado==6.2 ; python_version >= "3.9" and python_version < "3.11"
tqdm==4.64.1 ; python_version >= "3.9" and python_version < "3.11"
traitlets==5.4.0 ; python_version >= "3.9" and python_version < "3.11"
typeguard==2.13.3 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "darwin" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux" or python_version >= "3.9" and python_version < "3.11" and sys_platform == "win64"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "3.11"
umap-learn==0.5.3 ; python_version >= "3.9" and python_version < "3.11"
urllib3==1.26.12 ; python_version >= "3.9" and python_version < "3.11"
wcwidth==0.2.5 ; python_version >= "3.9" and python_version < "3.11"
werkzeug==2.2.2 ; python_version >= "3.9" and python_version < "3.11"
wheel==0.37.1 ; python_version >= "3.9" and python_version < "3.11"
widgetsnbextension==4.0.3 ; python_version >= "3.9" and python_version < "3.11"
wrapt==1.14.1 ; python_version >= "3.9" and python_version < "3.11"
zipp==3.8.1 ; python_version >= "3.9" and python_version < "3.10"
