.wy-side-nav-search, .wy-nav-top {
    background: #1e1e1e;
}
html.writer-html4 .rst-content dl:not(.docutils)>dt,html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt {
    background: #e5e5e5;
    color: #D65745;
    border-top: 3px solid #333131;
}