opencv-python~=4.2.0.32
matplotlib~=3.1.3
networkx~=2.4
numpy~=1.18.1
pandas~=1.0.3
regex~=2020.2.18
scipy~=1.5.2
seaborn~=0.10.0
joblib~=0.16.0
sklearn~=0.0
scikit-learn~=0.23.2
tqdm~=4.42.0
tensorflow~=2.3.0
tensorflow-probability~=0.10.0
hypothesis~=5.29.0
dash~=1.11.0
plotly~=4.5.0
setuptools~=49.6.0
pytest~=5.3.5
pandas-profiling~=2.5.0